{% extends "_layout.twig" %}

{% block content %}
    <style>

        .author .author-content {
                width: calc(100% - 127px);
            display: inline-block;
            vertical-align: middle;
            margin-left: 0;
            float: none;
        }

        .author .author-img {
            max-width: 120px;
            height: initial;
            /* border-radius: 50%; */
            overflow: initial;
            display: inline-block;
            width: 30%;
            display: inline-block;
            float: none;
        }
    </style>
    <!-- Content Start -->
    <div class="single-post" id="">
                    <!-- Blog Article Start-->
                    <article class="single-post-content">

                        {{ post.full_text | safe }}

                    </article><!-- Blog Article End-->



                    <!-- Blog Article Start -->
                    <article>
                        <div class="author">
                            {% if post.user.user_image_url %}
                            <div class="author-img">
                                <img alt="" src="{{ post.user.user_image_url }}">
                            </div>
                            {% endif %}
                            <div class="author-content">
                                <h4>{{ post.user.display_name }}</h4>
                                {{ post.user.user_registered | moment('DD-MM-YYYY') }} <br>
                                {{ post.user.user_email }}
                            </div>
                        </div>
                    </article><!-- Blog Article End -->
                    <!-- Blog Article Start -->

                    <!-- Blog Article Start -->
                    <article>
                        <!-- Start Respond Form -->
                        <div id="respond">
                            <h2 class="respond-title">Add Comment</h2>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="form-control" id="author"
                                        name="author" placeholder="Name" size=
                                        "30" type="text" value="">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" id="email"
                                        name="author" placeholder="Email" size=
                                        "30" type="text" value="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" cols=
                                        "45" id="comment" name="comment"
                                        placeholder="Comment" rows="8">
</textarea> <a class="btn btn-common btn-more"
                                        id="submit" type="submit"><i class=
                                        "fa fa-check"></i> Submit Comment</a>
                                    </div>
                                </div>
                            </form>
                        </div><!-- End Respond Form -->
                    </article><!-- Blog Article End -->
                    <!-- Blog Article Start -->
                    {% if relatedPosts %}
                    <article>
                        <div class="relate-post">
                            <h4>Releate Post</h4>
                            <div class="row">
                                {% for post in relatedPosts %}
                                <div class="col-sm-6">
                                    <ul class="posts-list">
                                        <li>
                                            <div class="widget-thumb">
                                                <a href="#">
                                                    <img alt="" src="{{ post.image }}" style="width:70px;">
                                                </a>
                                            </div>
                                            <div class="widget-content">
                                                <a href="/blog/posts/{{ post.id }}/{{ post.alias }}">{{ post.title }}</a>
                                                <div class="meta">
                                                    <span>
                                                        <i class="ico-calendar-alt-fill"></i>
                                                        {{ post.published_at | moment('MMMM DD, YYYY') }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </article><!-- Blog Article End -->
                    {% endif %}
    </div><!-- Content End -->
{% endblock %}